*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: rgb(6, 154, 139);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    height: 90px;
    width: 100%;
}

/* Logo Styles */
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px bold;
    font-size: 30px;
    color: white;
    padding-left: 50px;
}

/* Nav Styles */
nav{
    display: flex;
    text-decoration: none;
    margin: 20px;
    margin-right: 150px;
}

nav ul{
    font-family: HelveticaNowDisplay-Regular;
    font-size: medium;
    display: flex;
    text-decoration: none;
    position: relative;
    bottom: 10px;
    color: white;
    padding-top: 20px;
    margin-right: 20px;
}

nav ul li{
    margin: 20px;
}

nav ul li a{
    color: white;
    font-size: 25px;
}

nav ul li a:hover{
    color: rgb(16, 66, 61);
    text-decoration: underline;
}

.nav-button{
    background-color: rgb(6, 154, 139);
    border: none;
    height: 50px;
    width: 160px;
    position: relative;
    color:white  ;
    border: white solid 2px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    right: 10px;
    margin-top: 15px;
}

.nav-button:hover{
    background-color: rgb(16, 66, 61);
    color: white;
    transform: scale(1);
    transition: 2s;
    border: solid #e0dbdb 2px;
}

.values h2{
     
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(16, 66, 61);
    text-align: center;
}
.tourist-cards{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    gap: 5px;
    background: ghostwhite;
}

.tourist-card1{
    height: 600px;
    width: 600px;
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.518)),url(/images/bg-image.jpeg);
    /* padding-top: 10px; */
}

.site1{
    height: 550px;
    width: 600px;
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.518)),url(images/paga.img);
}
.site2{
    height: 550px;
    width: 600px;
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.518)),url(images/kparag.img);
}
.site3{
    height: 550px;
    width: 600px;
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.518)),url(images/img4.jpg);
}
.site4{
    height: 550px;
    width: 600px;
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.518)),url(images/homowo.png);
}
.site5{
    height: 550px;
    object-fit: contain;
    width: 600px;
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.518)),url(images/img17.png);
}
.site6{
    height: 550px;
    width: 600px;
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.518)),url(images/img17.png);
    object-fit: contain;
}

.tourist-card2{
    height: 550px;
    width: 600px;
    background-color: rgb(6, 154, 139);
    padding-top: 10px;
}

.tourist-cards h2{
    text-align: center;
    color: white;
    font-family: HelveticaNowDisplay-Medium;
    font-size: 30px;
    margin: 10px 0;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 40px;
}

.tourist-cards p{
    font-family: HelveticaNowDisplay-Regular;
    font-size: 20px;
    color: white;
    text-align: left;
    margin: 5px 0;
    padding-left: 12%;
    padding-right: 5%;
    padding-top: 20px;
}

.tourist-card1:hover{
    background-color: rgb(16, 66, 61);
    color: white;
    transform:translateY(-15px);
    transition: all 1.5s;
}

.tourist-card2:hover{
    background-color: rgb(16, 66, 61);
    color: white;
    transform:translateY(-15px);
    transition: all 1.5s;
}

.tourist-card3:hover{
    background-color: rgb(16, 66, 61);
    color: white;
    transform:translateY(-15px);
    transition: all 1.5s;
}

.tourist-cards:hover i{
    color: white;
}

.tourist-cards:hover h2{
    color: white;
}

.logo5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 50px;
    color: white;
    padding-left: 50px;
}
.footer{
    background-color: rgb(16, 66, 61);
height: 30vh;
text-decoration: none;
}

.footer1{
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.link1 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
   
}
.link1 ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    gap: 10px;
}
.link2 label{
line-height: 30px;
color: white;
}
.link2 h5{
color: white;
font-size: 30px;
padding-bottom: 10px;
}

.logo5 img{
    height: 120px;
    border-radius: 50%;
}
.link11{
    display: flex;
    flex-direction: column;
   
}
.link11 h5{
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
    gap: 15px;
}
.link11 ul li{
    list-style: none;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    gap: 15px;
}