* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: rgb(6, 154, 139);
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

/* Logo Styles */
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px bold;
    font-size: 30px;
    color: white;
    padding-left: 50px;
}

/* Nav Styles */
nav {
    display: flex;
    text-decoration: none;
    margin: 20px;
    margin-right: 150px;
}

nav ul {
    font-family: HelveticaNowDisplay-Regular;
    font-size: medium;
    display: flex;
    text-decoration: none;
    position: relative;
    bottom: 10px;
    color: white;
    padding-top: 20px;
    margin-right: 20px;
}

nav ul li {
    margin: 20px;
}

nav ul li a {
    color: white;
    font-size: 25px;
}

nav ul li a:hover {
    color: rgb(16, 66, 61);
    text-decoration: underline;
}

.nav-button {
    background-color: rgb(6, 154, 139);
    border: none;
    height: 50px;
    width: 160px;
    position: relative;
    color: white;
    border: white solid 2px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    right: 10px;
    margin-top: 15px;
}

.nav-button:hover {
    background-color: rgb(16, 66, 61);
    color: white;
    transform: scale(1);
    transition: 2s;
    border: solid #e0dbdb 2px;
}

.hero p {
    color: white;
    font-family: HelveticaNowDisplay-Medium;
    font-size: 20px;
    margin-top: 10px;
    animation-delay: 0.5s;
}

.main {
    padding-top: 250px;
    text-align: center;
    color: rgb(16, 66, 61);
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.486),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.144)), url(image1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.first1{
    height: 50vh;
    
}

#home h1 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-in-out;
}

#home p {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    line-height: 1.3em;
    margin-top: 0px;
}
.good {
    background: rgb(16, 66, 61); 
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

#home button:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#about {
    padding: 80px 10%;
    background: white;
    text-align: center;
    color: rgb(6, 154, 139);
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1) inset;
}
#expo{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#dis{
    font-size:25px ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
#about h1 {
    font-size: 70px;
    margin-bottom: 20px;
    color: rgb(16, 66, 61);
}

#about h2 {
    background: rgb(16, 66, 61);
    font-size: 40px;
    color: white;
}
.mini-info{
    height: auto;
    padding: 0 0 30vh 0;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: white;

}

#about p {
    font-size: 1.50rem;
    line-height: 1.5;
    color: rgb(6, 154, 139);
}

.cards {
    display: grid;
    gap: 70px;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    background: ghostwhite;

}

.cards h2 {
    color: white;
    font-size: 35px;
}

.cards-forts {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.card-castel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.cards img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.card1 p {
    font-size: 0.9em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 
}

.card1 {
    height: auto;
    width: 400px;
    background-color: rgb(16, 66, 61);
    padding: 0 0 20px 0;
    border-radius: 10px;

}

.btn3{
    margin-top: 30px;
    background: rgb(6, 154, 139);
    height: 30px;
    width: 130px;
    color: white;
    border: none;
    border: white 2px solid;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}
.logo5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 50px;
    color: white;
    padding-left: 50px;
}
.footer{
    background-color: rgb(16, 66, 61);
height: 30vh;
text-decoration: none;
margin-top: 1300px;
}

.footer1{
    height: 30vh; 
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.link1 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
   
}
.link1 ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    gap: 10px;
}
.link2 label{
line-height: 30px;
color: white;
}
.link2 h5{
color: white;
font-size: 30px;
padding-bottom: 10px;
}

.logo5 img{
    height: 120px;
    border-radius: 50%;
}
.link11{
    display: flex;
    flex-direction: column;
   
}
.link11 h5{
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
    gap: 15px;
}
.link11 ul li{
    list-style: none;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    gap: 15px;
}

